/* Import the original Dracula theme as base */
@import "/home/pierre/.themes/Dracula/gtk-3.0/gtk.css";

#yad-dialog-window {
  /* Use Dracula background for comfort */
  background-color: #282a36;
  /* Thick Cyan border to make the notification pop */
  border: 6px solid #8be9fd;
  font-size: 16px;
}

#yad-dialog-label {
  /* Yellow for maximum readability on dark background */
  color: #f1fa8c;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}

#yad-dialog-button {
  /* High-contrast button using Dracula Purple */
  background-color: #bd93f9;
  /* Dark text on light button for clarity */
  color: #282a36;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 40px;
}
